.group-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1px;
  max-height: 85px;
  min-height: 85px;
}

.password-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 4px;
  min-height: 25px;
  white-space: nowrap;
}

.overlap-group-2 {
  align-items: center;
  background-color: var(--aqua-haze);
  border-radius: 9px;
  display: flex;
  height: 56px;
  min-width: 335px;
  padding: 6.5px 16.4px;
}

.lock-1 {
  height: 21px;
  margin-bottom: 0.53px;
  object-fit: cover;
  width: 16px;
}

.text-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 13px;
  /* min-height: 25px;
  min-width: 103px; */
  white-space: nowrap;
}

.group-8 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6356c5680fd24bf1dbc5987d/releases/6356d02504a861c957281e03/img/path-4-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 12px;
  margin-bottom: 0.14px;
  margin-left: 10px;
  min-width: 20px;
  width: 20px;
  padding: 3.5px 8.0px;
}

.path-5 {
  height: 5px;
  object-fit: cover;
  width: 5px;
}

